{% extends "base_generic.html" %}

{% block content %}
<div class="container">
    <div class="pj-container">
        <div class="over-margin"></div>
        <div class="preview">
            <h4>미리보기</h4>
            <p>A quick brown fox jumps over the lazy dog.</p>
            <p id="preview-text">다람쥐 헌 쳇바퀴에 타고파</p>
        </div>
        <div class="auto-complete">
            <script>
            function changeFont() {
                document.getElementById('preview-text').style.fontFamily="굴림, arial";
            }
            </script>
            <button type="button" class="btn btn-primary" onclick="changeFont()">자동완성</button>
        </div>
        <div class="drawing-board">
            <div class="draw-container">
                <div class="form-group">
                    <label class="col-form-label mt-4" for="inputDefault">작성할 글자</label>
                    <input type="text" class="form-control" placeholder="작성할 글자 입력" id="inputDefault">
                </div>
                <button type="button" class="btn btn-primary enter">확인</button>
                <div class="canvas-line">
                    <div id="vertical-line"></div>
                    <div id="horizontal-line"></div>
                    <p id="guide-char">가</p>
                    <canvas id="jsCanvas" class="canvas"></canvas>
                </div>
                <div class="controls">
                    <div class="controls__range">
                        <input type="range" id="jsRange" min="1" max="30.0" value="10" step="1"/>
                    </div>
                    <div class="controls__btns">
                        <button id="jsMode">채우기 브러쉬</button>
                        <button id="jsSave">업로드</button>
                        <button id="jsLoad">불러오기</button>
                    </div>
                </div>
                {% load static %}
                <script type="text/javascript" src="{% static 'js/draw_board.js' %}"></script>
            </div>
        </div>
        <div class="statistics">
            <p>아스키 {{remains_askii}}/97자</p>
            <p>현대 완성형 {{remains_hangul}}/11172자</p>
            <p>한글 자모 {{remains_jamo}}/67자</p>
            <br>
            <p>평가 낮은 글자 보기</p>
            <script>
            function guide_check(box) {
                if(box.checked)
                    document.getElementById('guide-char').innerHTML = "가";
                else
                    document.getElementById('guide-char').innerHTML = " ";
            }




            </script>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked=""
                       onclick="guide_check(this)">
                <label class="form-check-label" for="flexSwitchCheckChecked">템플릿 가이드 문자 보기</label>
            </div>
        </div>
    </div>
</div>
{% endblock %}

