{% extends "base_generic.html" %}

{% block dropdown %}
<li class="nav-item dropdown">
    {% load static %}
    <script type="module" src="{% static 'js/project_manage.js' %}"></script>
    {% if owner_level >= 1 %}
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
       aria-haspopup="true" aria-expanded="false">프로젝트 관리</a>
    <div class="dropdown-menu" >
        <form method="post" class="post-form" action="">
            {% csrf_token %}
            <a id="member-invite" class="dropdown-item" href="#layer3">팀원 초대</a>
            {% if owner_level >= 2 %}
            <a id="member-manage" class="dropdown-item" href="#layer4">팀원 관리</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" id="proj-delete" href="#" type="submit">프로젝트 삭제</a>
            {% endif %}
        </form>
    </div>
    {% endif %}
</li>
{% endblock %}

{% block content %}
<div class="container">
    <div class="pj-container">
        <div class="preview">
            <h4>미리보기</h4>
            <p>A quick brown fox jumps over the lazy dog.</p>
            <p id="preview-text">다람쥐 헌 쳇바퀴에 타고파</p>
        </div>
        <div class="auto-complete">
            {% load static %}
            <script type="text/javascript" src="{% static 'js/draw_font_page_ui.js' %}"></script>
            <button type="button" class="btn btn-primary" onclick="changeFont()">자동완성</button>
        </div>
        <div class="drawing-board">
            <div class="draw-container">
                <div class="form-group">
                    <label class="col-form-label mt-4" for="inputDefault">작성 중인 글자: <h3 id="working">A</h3></label>
                    <input type="text" class="form-control" placeholder="작성할 글자 입력" id="inputDefault"
                           onkeyup="if (window.event.keyCode==13) {changeWorkingLetter()}">
                </div>
                <button type="button" class="btn btn-primary enter" onclick="changeWorkingLetter()">확인</button>
                <div class="canvas-line">
                    <canvas id="jsCanvas" class="canvas"></canvas>
                    <div id="vertical-line"></div>
                    <div id="horizontal-line"></div>
                    <p id="guide-char" class="no-drag" align="center">A</p>
                </div>
                <div class="controls">
                    <div class="controls__range">
                        <input type="range" id="jsRange" min="1" max="30.0" value="10" step="1"/>
                    </div>
                    <div class="controls__btns">
                        <button id="jsMode_brush">일반 브러쉬</button>
                        <button id="jsMode_fill">채우기 브러쉬</button>
                        <button id="jsMode_erase">지우개</button>
                        <button id="jsEraseAll">전체 지우기</button>
                    </div>
                    <div class="controls__btns">
                        <button id="jsUndo">Undo</button>
                        <button id="jsRedo">Redo</button>
                    </div>
                    <div class="controls__btns">
                        <button id="jsSave" style="background-color:rgb(200, 230, 255)">업로드</button>
                        <button id="jsLoad">불러오기</button>
                    </div>
                    <p style="color:gray">◈ 이미지 파일을 그림판에 드래그&드랍하여 올릴 수 있습니다.</p>
                    <p style="color:gray">◈ 한 장만 드랍시 현재 작업 중인 글자에 업로드 됩니다.</p>
                    <p style="color:gray">◈ 여러 장 드랍시 파일 이름에 따라 업로드 됩니다. 파일 이름은 한 글자여야 합니다. (예시: 가.png)</p>
                </div>
                <br>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked=""
                           onclick="guide_check(this)">
                    <label class="form-check-label" for="flexSwitchCheckChecked">템플릿 가이드 문자 보기</label>
                </div>
                {% load static %}
                <script type="text/javascript" src="{% static 'js/draw_board.js' %}"></script>
            </div>
        </div>
        <div class="statistics">
            <p>아스키 <a id="undone-ascii" href="#layer2">{{remains_ascii}}</a>/97자</p>
            <p>현대 완성형 {{remains_hangul}}/11172자</p>
            <p>한글 자모 {{remains_jamo}}/67자</p>
            <br>
            {% load static %}
            <script type="module" src="{% static 'js/undone.js' %}"></script>
        </div>
        <div class="margin-bottom"></div>
    </div>
</div>

<!--안된글자(undone) 누르면 나오는 layered popup-->
<div class="dim-layer">
    <div class="dimBg"></div>
    <div id="layer2" class="pop-layer card border-success mb-3">
        <div class="card-header" style="font-size:1.5em">미작성 글자 목록</div>
        <div class="card-body">
                <div id="undone-chars-display" style="height:50vh; overflow:auto">

                </div>

                <div class="btn-r">
                    <button type="button" class="btn btn-outline-success popup-close">닫기</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--팀원 초대 누르면 나오는 layered popup-->
<div class="dim-layer2">
    <div class="dimBg2"></div>
    <div id="layer3" class="pop-layer2 card border-success mb-3">
        <div class="card-header" style="font-size:1.5em">팀원 초대</div>
        <div class="card-body">
            <form method="post" class="post-form" action="">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-form-label mt-4" for="name">팀원 ID</label>
                    <input type="text" class="form-control" placeholder="member ID" id="name" name="name">
                </div>
                <div class="btn-r">
                    <button type="submit" id="invite-btn" class="btn btn-success">초대</button>
                    <button type="button" class="btn btn-outline-success popup-close2">닫기</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--팀원 관리 누르면 나오는 layered popup-->
<div class="dim-layer3">
    <div class="dimBg3"></div>
    <div id="layer4" class="pop-layer3 card border-success mb-3">
        <div class="card-header" style="font-size:1.5em">팀원 관리</div>
        <div class="card-body">
            <form method="post" class="post-form" action="">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-form-label mt-4" for="name2">팀원 ID</label>
                    <select class="form-control" id="name2" name="name2">
                        {% for key, value in members.items %}
                        <option value="{{ key }}">{{ key }}</option>
                        {% endfor %}
                    </select>
                    <label class="col-form-label mt-4" for="level">권한</label>
                    <select class="form-control" id="level" name="level">
                        <option value="{{ 2 }}">관리자</option>
                        <option value="{{ 1 }}">부관리자</option>
                        <option value="{{ 0 }}">일반</option>
                    </select>
                </div>
                <div class="btn-r">
                    <button type="submit" id="manage-btn" class="btn btn-success">변경</button>
                    <button type="submit" id="fire-btn" class="btn btn-success">퇴출</button>
                    <button type="button" class="btn btn-outline-success popup-close3">닫기</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

