{% extends "base_generic.html" %}

{% block content %}
<div class="container">
    <div class="pj-container">
        <div class="preview">
            <h4>미리보기</h4>
            <p>A quick brown fox jumps over the lazy dog.</p>
            <p id="preview-text">다람쥐 헌 쳇바퀴에 타고파</p>
        </div>
        <div class="auto-complete">
            <script>
            function changeFont() {
                document.getElementById('preview-text').style.fontFamily="굴림, arial";
            }
            function changeWorkingLetter(){
                let tc=document.getElementById('inputDefault').value;
                if(document.getElementById('guide-char').innerHTML != " ") document.getElementById('guide-char').innerHTML=tc[0];
                document.getElementById('inputDefault').value=tc[0];
                document.getElementById('working').textContent=tc[0];
                handleLoadClick();
            }
            </script>
            <button type="button" class="btn btn-primary" onclick="changeFont()">자동완성</button>
        </div>
        <div class="drawing-board">
            <div class="draw-container">
                <div class="form-group">
                    <label class="col-form-label mt-4" for="inputDefault">작성 중인 글자: <h3 id="working">A</h3></label>
                    <input type="text" class="form-control" placeholder="작성할 글자 입력" id="inputDefault"
                    onkeyup="if (window.event.keyCode==13) {changeWorkingLetter()}">
                </div>
                <button type="button" class="btn btn-primary enter" onclick="changeWorkingLetter()">확인</button>
                <div class="canvas-line">
                    <canvas id="jsCanvas" class="canvas"></canvas>
                    <div id="vertical-line"></div>
                    <div id="horizontal-line"></div>
                    <p id="guide-char" class="no-drag" align="center">A</p>
                </div>
                <div class="controls">
                    <div class="controls__range">
                        <input type="range" id="jsRange" min="1" max="30.0" value="10" step="1"/>
                    </div>
                    <div class="controls__btns">
                        <button id="jsMode_brush">일반 브러쉬</button>
                        <button id="jsMode_fill">채우기 브러쉬</button>
                        <button id="jsMode_erase">지우개</button>
                        <button id="jsEraseAll">전체 지우기</button>
                    </div>
                    <div class="controls__btns">
                        <button id="jsUndo">Undo</button>
                        <button id="jsRedo">Redo</button>
                    </div>
                    <div class="controls__btns">
                        <button id="jsSave" style="background-color:rgb(200, 230, 255)">업로드</button>
                        <button id="jsLoad">불러오기</button>
                    </div>
                    <p style="color:gray">◈ 이미지 파일을 그림판에 드래그&드랍하여 올릴 수 있습니다. (단, 크기는 가로세로 400px 권장)</p>
                </div>
                {% load static %}
                <script type="text/javascript" src="{% static 'js/draw_board.js' %}"></script>
            </div>
        </div>
        <div class="statistics">
            <p>아스키 {{remains_ascii}}/97자</p>
            <p>현대 완성형 {{remains_hangul}}/11172자</p>
            <p>한글 자모 {{remains_jamo}}/67자</p>
            <br>
            <p>평가 낮은 글자 보기</p>
            <script>
            function guide_check(box) {
                if(box.checked)
                    document.getElementById('guide-char').innerHTML = document.getElementById('working').textContent;
                else
                    document.getElementById('guide-char').innerHTML = " ";
            }
            </script>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked=""
                       onclick="guide_check(this)">
                <label class="form-check-label" for="flexSwitchCheckChecked">템플릿 가이드 문자 보기</label>
            </div>
        </div>
        <div class="margin-bottom"></div>
    </div>
</div>
{% endblock %}

